{% extends 'AppScholl/base.html' %}



{% block contenido %}
    <main class="conteiner-main" id="cursos">
        <article class="conteiner-titulo">
            <h1>Cursos</h1>
        </article>
        <section class="seccion-buscar-filtros">
            <article class="conteiner-buscar">
              <form method="GET" action="{% url 'Cursos' %}">
                {% csrf_token %}
                {{ buscar.as_p }}
                <button type="submit">Buscar por nombre</button>
                <article class="conteiner-filtros">
                  <h2>Filtros</h2>
                  <button type="submit" name="filtro" value="data">Data</button>
                  <button type="submit" name="filtro" value="programacion">Programación</button>
                  <button type="submit" name="filtro" value="diseno">Diseño</button>
                  <button type="submit" name="filtro" value="marketing">Marketing</button>
                </article>
              </form>
            </article>
            <article class="conteiner-filtro-seleccionado">
              {% if filtro %}
                  <article class="conteiner-filtro-seleccionado" style="color: #DBF227; font-size: 25px;">
                      Filtrado por: <span style="text-transform: uppercase;">{{ filtro }}</span> 
                  </article>
              {% endif %}
            </article>
        </section>
        {% if user.is_authenticated %}
          <section class="seccion-tabla">
            {% if cursos %}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">dias</th>
                    <th scope="col">hora</th>
                    <th scope="col">duracion/semanas</th>
                    <th scope="col">botones</th>
                    <th scope="col"><a href="{% url 'AddCurso' %}"><i class="fa-solid fa-plus btn-mas btn">añadir</i></a></th>
                  </tr>
                </thead>
                <tbody>
                  {% for curso in cursos %}
                    {% if curso.tipo == 'curso' %}
                      <tr>
                        <td>{{ curso.nombre }}</td>
                        <td>{{ curso.dia }}</td>
                        <td>{{ curso.hora }}</td>
                        <td>{{ curso.duracion }}</td>
                        <td>
                          
                        
                        {% if user.is_superuser %}
                          <a href="{% url 'ModCurso' curso.nombre %}">
                            <i class="fa-solid fa-pencil btn btn-mas"></i>
                          </a>
                          <form method="POST" action="{% url 'Cursos' %}" style="display:inline;"onsubmit="return confirm('¿Estás seguro de que deseas eliminar este curso?');">
                            {% csrf_token %}
                            <input type="hidden" name="curso_nombre" value="{{ curso.nombre }}">
                            <button type="submit" name="eliminar" style="border: none; background: none; cursor: pointer;" aria-label="Eliminar curso">
                                <i class="fa-solid fa-trash btn btn-mas" style="color: red;"></i>
                            </button>
                          </form>
                        {% else %}
                          <p>No tienes permisos</p>
                        {% endif %}
                          
                        <!-- Formulario de eliminación -->
                          
                        </td>
                      </tr>
                    {% endif %}
                {% endfor %}
                    
                </tbody>
              </table>
            {% else %}
              <p style="color: #DBF227; font-size: 25px; text-align: center">No se encontraron cursos para el filtro seleccionado.</p>
            {% endif %}
            
          </section>     
        {% else %}
          <section class="seccion-tarjetas">
            {% if cursos %}
              {% for curso in cursos %}
                <div class="col-md-4"> <!-- En pantallas medianas o más grandes, se mostrarán 3 tarjetas por fila -->
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ curso.nombre }}</h5>
                      <hr>
                      <p class="card-text">{{ curso.dia }}</p>
                      <p class="card-text">{{ curso.hora }}</p>
                      <p class="card-text">Duración: {{ curso.duracion }} semanas</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
                <p style="color: #DBF227; font-size: 25px; text-align: center">No se encontraron cursos para el filtro seleccionado.</p>
            {% endif %}
            
              
          </section>         
                 
        {% endif %}
        
        
    </main>
{% endblock contenido %}
    