{% extends 'AppScholl/base.html' %}

{% block contenido %}
<main class="conteiner-main" id="login">
        
    <section class="conteiner-formulario">
        <div class="conteiner-titulo">
            <h1>LOGIN</h1>
        </div>
        
        <form action="" method="post" class="formulario">
            {% csrf_token %}
            {{ form.as_p }}
            
            <!-- Mostrar mensajes de error debajo del formulario -->
            
            
            <button type="submit">Iniciar sesión</button>
        </form>

        <article class="conteiner-preguntas">
            
                {% if mensaje %}
                        <div class="mensaje-error " style="color: azure;">{{ mensaje }}</div>
                {% endif %}
            
            <!-- Opcional: Aquí podrías agregar alguna pregunta como "Olvidaste tu contraseña?" -->
        </article>
    </section>
</main>
{% endblock contenido %}