{% extends 'AppScholl/base.html' %}

{% block contenido %}
    <main class="conteiner-main" id="modcurso">
        <section class="conteiner-formulario">
            <div class="conteiner-titulo">
                <h1>modificar Alumno</h1>
            </div>
            
            <form method="POST" class="formulario">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"> Modificar </button>
            </form>
            </section>
    </main>
{% endblock contenido %}